
.card{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 
                0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: 540px;
    background: #fff;
    border-radius: 5px;
    transform: translate(-50%, -50%);
    transition: all 0.3s ease;
}

@media screen and (max-width: 768px){
    .card{
        width: 380px;
    }
}

.start_btn button{
    font-size: 25px;
    font-weight: 500;
    color: #007bff;
    padding: 15px 30px;
    outline: none;
    border: none;
    border-radius: 5px;
    background: #fff;
    cursor: pointer;
}

.card .card-title{
    /* height: 60px; */
    width: 100%;
    border-bottom: 1px solid lightgrey;
    display: flex;
    align-items: center;
    padding: 10px 30px;
    border-radius: 5px 5px 0 0;
    font-size: 20px;
    font-weight: 600;
}

.card .card-title .username{
 text-transform: capitalize;
}

.card .card-body{
    padding: 15px 30px;
}

.card .buttons{
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px;
    border-top: 1px solid lightgrey;
}

.card .buttons .highest-score .score{
    font-weight: 500;
}

.card .buttons button{
    margin: 0 5px;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    border: none;
    outline: none;
    border-radius: 5px;
    border: 1px solid #007bff;
    transition: all 0.3s ease;
}